body {
    background-image: url('paper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: antiquewhite;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

img[alt="alexander"] {
    height: 20rem;
    width: 20rem;
}
